<h1 align= "center">Create Review for <%= link_to @item.name, "/items/#{@item.id}" %></h1>
<center>
  <%= form_for @review, url: "/items/#{@item.id}/reviews" do |form| %>
      <%= render partial: 'form', locals: { f: form } %>
  <% end %>
</center>
